html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

body {
  margin: 0;
  background: rgb(25, 148, 214);
  background: linear-gradient(
    90deg,
    rgba(25, 148, 214, 1) 0%,
    rgba(0, 212, 255, 1) 50%,
    rgba(25, 148, 214, 1) 100%
  );
}